<td-layout #layout>
	<td-navigation-drawer flex sidenavTitle="Navigation" >
		<md-nav-list>
			<ng-template let-item let-last="last" ngFor [ngForOf]="navElements">
				<a md-list-item (click)="layout.close()" routerLink="{{item.route}}" routerLinkActive="active">
					<md-icon>{{item.icon}}</md-icon>
					<span>{{item.name}}</span>
				</a>
			</ng-template>
		</md-nav-list>
	</td-navigation-drawer>
	<td-layout-nav navigationRoute="/home">
		<div td-toolbar-content layout="row" layout-align="start center" flex>	
			
			<span flex *ngIf="!searchBox.searchVisible" >
				<img src="assets/site_logo.png">
			</span>
		    <td-search-box 
		    	#searchBox 
		    	(search)="filterResults($event)" 
		    	(searchDebounce)="filterResults($event)" 
		    	class="pull-top-sm pull-bottom-sm" 
		    	placeholder="Search here" 
		    	flex
		    >
	    	</td-search-box>
		  
		</div>
		<md-toolbar hide-xs>
			<nav  md-tab-nav-bar class="pull-bottom-xl pull-top-md text-upper" flex>
				<button md-button routerLink="/home" (click)="selectCat('')" scrollTo scrollTargetSelector="#top">Home</button>
		        <button md-button routerLink="/home" (click)="selectCat('pump')" scrollTo scrollTargetSelector="#products">Pump</button>
		        <button md-button routerLink="/home" (click)="selectCat('heater')" scrollTo scrollTargetSelector="#products">Heater</button>
		        <button md-button routerLink="/home" (click)="selectCat('cleaner')" scrollTo scrollTargetSelector="#products">Cleaner</button>
		        <button md-button routerLink="/home" (click)="selectCat('float')" scrollTo scrollTargetSelector="#products">Float</button>
		        <button md-button routerLink="/home" (click)="selectCat('test kit')" scrollTo scrollTargetSelector="#products">Test Kit</button>
			</nav>
		</md-toolbar>
		<router-outlet></router-outlet>
	</td-layout-nav>
</td-layout>