<div class="inset" layout="column" *ngIf="productDetail.length !== 0">
	<div id="top"></div>
	<md-card>
		<md-card-header>
			<md-card-title>{{productDetail.brand}} {{productDetail.name}}</md-card-title>
		</md-card-header>
		<md-card-content>
			<div layout="row" layout-xs="column">
				<img class="main-image" md-card-image src="{{productDetail.images | slice:0:1}}">
				<span flex></span>
				<span><button md-button (click)="addToCart()"><span>Add To Cart</span> <md-icon>add_shopping_cart</md-icon></button></span>
			</div>
			<div>
				<h2>Details</h2>
				<p>{{productDetail.description}}</p>
				<p>Category: {{productDetail.type}}</p>
			</div>
			<div layout="row" class="image-wrapper" flex>
				<div *ngFor="let imageUrl of productDetail.images">
					<img src="{{imageUrl}}">
				</div>
			</div>
		</md-card-content>
	</md-card>
	<md-card>
		<md-card-header>
			<md-card-title>
				Other products you might be interested in
			</md-card-title>
		</md-card-header>
		<md-card-content>
			<app-product-preview 
				*ngFor="let recommendation of recommendations" 
				[product]="recommendation" 
				flex 
				[ngStyle]="{'max-width':'200px', 'display': 'inline-block'}"  scrollTo scrollTargetSelector="#nav-toolbar"
			></app-product-preview>
		</md-card-content>
	</md-card>
</div>