md-card {
	md-card-header {
		md-card-title{
			font-size: 1.5em;
			font-weight: bold;
		}
	}
	
	.main-image {
		height: 300px;
		width: 300px;
	}
}

.image-wrapper {
	overflow: scroll;
	img {
		max-height: 150px;
		max-width: 150px;
	}
}