<section id="top">
	<div class="summer-sale" #summerSale flex>
		<div layout="row" layout-align="start end">
			<button md-button md-raised-button (click)="summerSaleLearnMore()">Learn More</button>
		</div>
	</div>
	
</section>
<section id="products">
	<div *ngFor="let prodRow of chunkProducts(3)" layout="column" flex>
		<div layout="row" layout-xs="column" layout-align="space-around center" layout-marign flex>
			<app-product-preview *ngFor="let product of prodRow" [product]="product" style="display: inline-block;"></app-product-preview>
		</div>
	</div>
</section>

<!-- This is for the component to be able to call the click event.  -->
<!-- This is an example of something that already exists that I would rewrite given time because it's just dirty -->
<a scrollTo scrollTargetSelector="#products" #productButton></a>