div.summer-sale {
	width: 100%;
	padding-bottom: 32%;
	background-image: url('/assets/summer-sale.jpg');
	background-size: cover;
	position: relative;
	
	button {
		background-color: #fedd12;
		border: 3px solid #575757;
	}
}


div.summer-sale > div {
	position: absolute;
	bottom: 15%;
	left: 10%;
}

