<section>
	<div class="summer-sale" #summerSale flex>
		<div layout="row" layout-align="start end">
			<button md-button md-raised-button>Learn More</button>
		</div>
	</div>
	
</section>
<section>
	<div *ngFor="let prodRow of chunkProducts(3)" layout="column" flex>
		<div layout="row" layout-xs="column" layout-align="space-around center" layout-marign flex>
			<app-product-preview *ngFor="let product of prodRow" [product]="product" style="display: inline-block;"></app-product-preview>
		</div>
	</div>
</section>